.dropdownContainer {
  display: flex;
  flex-direction: column;
  min-width: 30vw;
  width: 100%;
  height: 3em;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  margin: .5rem 0;
  transition: 300ms;
}
#dropdownTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.1rem 1rem 0rem;
  min-height: 3em;
}

.dropdownBody {
  display: flex;
  height: 0;
  visibility: hidden;
  padding: 0 1rem;
  flex-direction: column;
  margin-bottom: 1rem;
  transition: 100ms;
}
.details{
  display: flex;
  justify-content: space-between;
}
#openClient {
  visibility: visible;
  height: 130px;
}
#openContract {
  visibility: visible;
  height: 180px;
}
#icon {
  transform: rotate(180deg)!important;
}
