.listClientContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.clientListContent{
  display: flex;
  flex-direction: column;
  margin: 2em 4rem;
  box-sizing: border-box;
}
.clientList{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 250px;
  margin-top: 1em;
}
.paginationClient{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: .4em;
}
.paginationClient label{
  margin-top: 3px;
  font-size: 13px;
}
#clientListTitle{
  margin: 0;
  text-align: center;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track { 
  background-color: transparent;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(92, 92, 92, 0.483); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #8d8d8d;
}