.toasts-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.toast{
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  border-radius: 5px;
  animation: shake 850ms cubic-bezier(.36,.07,.19,.97) both;
}
.sucess {
  color: white;
  background: #207120;
}
.warning {
  background: #ffff00;
  color: #000;

}
.error {
  background: #980000;
  color: white;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}