.clientRegisterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.clientRegisterForm {
  display: grid;
  grid-template-columns: 50% 50%;
  box-sizing: border-box;
  margin: -1rem 0rem 2rem;
  position: relative;
}
#formTitle {
  text-align: center;
}
.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.5rem 0.4rem;
}
.inner {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.inner:first-child{
margin-right: 0.5rem;

}
.inputLabel {
  min-width: max-content;
  margin-right: 0.3rem;
}

.containersForm {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

#registerClient{
  position: absolute;
  bottom: 3em;
  left: calc(50% - 190px);
  width: max-content;
  outline: none;
  border: none;
  background-color: #ED7856;
  padding: .5rem 3rem .2rem;
  color: #fff;
  font-family: 'Karma', serif;
  font-weight: 700;
  font-size: 1rem;
  border-radius: 8px;
  transition: 50ms;
}

#registerClient:hover{
  cursor: pointer;
}

#registerClient:active{
  transform: translateY(2px);
}

@media (max-width: 1024px){
  .clientRegisterForm {
    display: flex;
    flex-direction: column;
    height: 420px;
    overflow-Y: auto;
    margin: -1.5em 0 0;
  }
  .containersForm{
    position: relative;
  }
  .formSectionTitle{
    text-align: center;
  }
  #registerClient{
    position: relative;
    left: 0;
    bottom: 0;
    margin: 1rem 0;
    align-self: center;
    text-align: center;
  }
}