.listContractContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contractListContent {
  display: flex;
  flex-direction: column;
  margin: 2em 4rem;
  box-sizing: border-box;
}
#contractListTitle {
  margin: 0;
  text-align: center;
}
.filtros {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0.5rem 0.5rem -0.1rem;
}
.filtros label{
  margin: 0 0.5rem;
  width: 8rem;
  text-align: center;
  padding: .2rem 0 0rem;
  border-radius: 5px;
  font-weight: 500;
  transition: 50ms;
}
.filtros label:not(:first-child){
  background-color: #FFF;
}
.filtros label:not(:first-child):hover{
  cursor: pointer;
}
.filtros label:not(:first-child):active{
  transform: translateY(2px);
}
.filtros label:first-child{
  width: max-content;
}
#selected{
  background-color: #ED7856;
  color: #FFF;
}
.paginationContract{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: .4em;
}
.paginationContract label{
  margin-top: 3px;
  font-size: 13px;
}